<div class="container p-3">
  <div class="row">
    <app-search [query]="query" (onSearch)="refreshList($event)"  class="my-2"></app-search>
    <button (click)="add()">Add</button>
    <div class="col-12 col-md-4 col-lg- event" *ngFor="let event of events">
      <a style="text-decoration: none;" [routerLink]="'/event-detail/' + event?.id">


      <div class="d-flex position-relative align-items-center justify-content-center" style="min-height: 15rem; background-size: cover; z-index: 0" [style.background-image]="'url('+ env.apiBaseUrl + '/images/' + event.banner + ')'">
        <div style="z-index: 1; position: absolute; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.3)"></div>
        <div class="text-white" style="z-index: 2; font-size: 1.4rem;" ><strong>{{event.title}}</strong></div>
      </div>
      <!--<img [src]="env.apiBaseUrl + '/images/' + event.banner"  role="button" [routerLink]="'/event-detail/' + event?.id" class="rounded float-start" alt="...">-->


        <p class="text-muted fst-italic color">
          <a class="btn text-reset " href="javascript:void(0)" role="button">Read More --></a>
        </p>
      </a>
    </div>
  </div>
</div>
