<div class="container p-3">
  <div class="row">
    <div class="col event">
      <img src="assets/aa.jpg" class="rounded float-start" alt="...">
      Column       Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]

      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/1" role="button">Read More --></a>
      </p>
    </div>
    <div class="col event">
      <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" class="rounded mx-auto d-block" alt="...">
      Column       Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]

      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/2" role="button">Read More --></a>
      </p>
    </div>
    <div class="col event">
      <img src="assets/aa.jpg" class="rounded float-end" alt="...">
      Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]
      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/3" role="button">Read More --></a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col event">
      <img src="assets/aa.jpg" class="rounded float-start" alt="...">
      Column       Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]

      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/4" role="button">Read More --></a>
      </p>
    </div>
    <div class="col event">
      <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" class="rounded mx-auto d-block" alt="...">
      Column       Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]

      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/5" role="button">Read More --></a>
      </p>
    </div>
    <div class="col event">
      <img src="assets/aa.jpg" class="rounded float-end" alt="...">
      Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]
      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/6" role="button">Read More --></a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col event">
      <img src="assets/aa.jpg" class="rounded float-start" alt="...">
      Column       Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]

      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/7" role="button">Read More --></a>
      </p>
    </div>
    <div class="col event">
      <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" class="rounded mx-auto d-block" alt="...">
      Column       Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]

      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/8" role="button">Read More --></a>
      </p>
    </div>
    <div class="col event">
      <img src="assets/aa.jpg" class="rounded float-end" alt="...">
      Column asdfgjkhlj;k.z zdfngdg,gh, eshte test prove per te pare se si levi teksti ne imazh ku jane te gjitha te dhenat]
      <p class="text-muted fst-italic color">
        <a class="btn text-reset " routerLink="/event-detail/9" role="button">Read More --></a>
      </p>
    </div>
  </div>
</div>
