<app-search></app-search>
<hr>
<div class=" container container-fluid">
  <section class="py-1 my-1 px-1 mx-1">
    <div  class="row">
      <div class="col-6 border border-info rounded-2 ">
        <app-latest-events></app-latest-events>
      </div>
      <div class="col-6 border border-info rounded-2">
       <app-most-viewed></app-most-viewed>
      </div>
    </div>

  </section>
</div>

<!--<div>-->
<!--<h2 class="title">Latest Events</h2>-->
<!--<div class="conatiner">-->
<!--  <div class="wrap">-->

<!--    <div class="box one">-->
<!--      <div class="date">-->
<!--        <h4>5-06-2023</h4>-->
<!--      </div>-->
<!--      <h1>Enrique Iglesias</h1>-->
<!--      <div class="poster p1">-->
<!--        <a class="btn btn-outline-info text-reset " routerLink="/event-detail/1" role="button">Read More</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="box two">-->
<!--      <div class="date">-->
<!--        <h4>18-05-2023</h4>-->
<!--      </div>-->
<!--      <H1>Elvana Gjata</H1>-->
<!--      <div class="poster p2">-->
<!--        <a class="btn btn-outline-info text-reset " routerLink="/event-detail/1" role="button">Read More</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="box three">-->
<!--      <div class="date">-->
<!--        <h4>29-06-2023</h4>-->
<!--      </div>-->
<!--      <h1>Ricky Martin</h1>-->
<!--      <div class="poster p3">-->
<!--        <a class="btn btn-outline-info text-reset " routerLink="/event-detail/1" role="button">Read More</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <h2 class="title">Most Viewed Events</h2>-->
<!--  <div class="conatiner">-->
<!--    <div class="wrap">-->

<!--      <div class="box four">-->
<!--        <div class="date">-->
<!--          <h4>5-06-2023</h4>-->
<!--        </div>-->
<!--        <h1>Wedding in the Castle</h1>-->
<!--        <div class="poster p1">-->
<!--          <a class="btn btn-outline-info text-reset " routerLink="/event-detail/1" role="button">Read More</a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="box five">-->
<!--        <div class="date">-->
<!--          <h4>18-05-2023</h4>-->
<!--        </div>-->
<!--        <h1>Chopin Fest Tirana</h1>-->
<!--        <div class="poster p2">-->
<!--          <a class="btn btn-outline-info text-reset " routerLink="/event-detail/1" role="button">Read More</a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="box six">-->
<!--        <div class="date">-->
<!--          <h4>29-06-2023</h4>-->
<!--        </div>-->
<!--        <h1>LET'S PLAY IN THE BAZAAR</h1>-->
<!--        <div class="poster p3">-->
<!--          <a class="btn btn-outline-info text-reset " routerLink="/event-detail/1" role="button">Read More</a>-->
<!--        </div>-->
<!--      </div>-->
