.search-background {
  background-image: url("/assets/aa.jpg");
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  background-size: cover;
}

.search-form {
  padding: 8rem 10rem;
  background-color: transparent;
}
