.search-background {
  background-image: url("/assets/Light-blue-wavy-abstract-background-vector-01.jpg");
  background-size: cover;
}

.search-form {
  padding: 8rem 10rem;
  background-color: transparent;
}
