.search-background {
  background: url("/assets/search.jpeg") left center no-repeat;
  color: #fff;
  z-index: 0;
  padding: 70px 0;
  background-size: 100% 100%;
}

.search-form {
  padding: 12rem 10rem;
  background-color: transparent;

}

.form-control{
  font-size: 1.5rem;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.75rem;}

