<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>UP
        <span class="tittle">with</span>
        Events</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
        <li class="nav-item px-4">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item px-4">
          <div _ngcontent-ng-c3091591284="" bis_skin_checked="1" class="navbar-nav ml-auto py-0">
<!--            <a _ngcontent-ng-c3091591284="" href="login" style="color: #d30a0a;" class="nav-item nav-link">Login</a>-->
            <a class="btn text-reset nav-item nav-link"  style="color: #d30a0a" [routerLink]="'/login'"
               href="javascript:void(0)" role="button">Login</a>

            <a _ngcontent-ng-c3091591284="" href="signup-form" style="color: #d30a0a;" class="nav-item nav-link">Register</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
