<h3>Latest Events</h3>
<div class="row col-12">
  <div class="event">
    <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" alt="Event 1">
    <div>Event Title 1</div>
    <div>Date: June 30, 2023</div>
    <p>Location: City, Country</p>
    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
  </div>

  <div class="event col-12">
    <h2>Event Title 2</h2>
    <p>Date: July 15, 2023</p>
    <p>Location: City, Country</p>
    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
  </div>

  <div class="event col-12">
    <h2>Event Title 3</h2>
    <p>Date: August 5, 2023</p>
    <p>Location: City, Country</p>
    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
  </div>
</div>

