<h3>Latest Events</h3>
<div class="px-5 row col-12">
  <div class="event col-md-auto float-md-end mb-6 ms-md-6">
    <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" alt="Event 1">
    <div>Event Title 1</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
    <a class="btn-outline-info btn" href="#" role="button">Link</a>
  </div>

  <div class="event col-md-auto float-md-end mb-6 ms-md-6">
    <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" alt="Event 1">
    <div>Event Title 1</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
    <a class="btn-outline-info btn" href="#" role="button">Link</a>
  </div>

  <div class="event col-md-auto float-md-end mb-6 ms-md-6">
    <img src="assets/Light-blue-wavy-abstract-background-vector-01.jpg" alt="Event 1">
    <div>Event Title 1</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
    <a class="btn-outline-info btn" href="#" role="button">Link</a>
  </div>

</div>
