
<!--<footer>-->
<!--  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />-->
<!--  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-->
<!--    <a href="https://github.com/ebego/Event-Manager/tree/masterAngular1" class="hover:underline">-->
<!--    Flowbite™</a>. All Rights Reserved.</span>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <p class="copyright block text-sm text-gray-500 sm:text-center dark:text-gray-400">© Copyright 2023 </p>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <p class="designed">Designed and Developed by-->
<!--          <a href="https://github.com/ebego/Event-Manager/tree/masterAngular1" target="_blank" class="hover:underline">-->
<!--            A3M-->
<!--          </a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer>
  <div class="container">
    <div class="row">
      <div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
          Designed and Developed by A3M™
          <a href="https://github.com/ebego/Event-Manager/tree/masterAngular1" class="hover:underline text-end">

          </a>. All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>
