.events {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.event {
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.event img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.event h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #337126;
}

.event p {
  font-size: 16px;
  margin-bottom: 5px;
}


.btn:hover {
  border: 1px solid black;
  transform: scale(1.10);
}

.btn:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.btn{
  font-size: 11px;
  text-align: center;
  white-space:nowrap
}
